<!--<div>-->
<!--    <h1>List of users</h1>-->
<!--    {#users}}-->
<!--        <h1>USER</h1>-->
<!--        name:     {name}}-->
<!--        email:   {email}}-->
<!--        <form method="post" action="/friend">-->
<!--            <input type="hidden" name="userEmail" value={userEmail}}>-->
<!--            <input type="hidden" name="password" value={userPassword}}>-->
<!--            <input type="hidden" name="friendEmail" value={email}}>-->
<!--            <input type="submit" value="Friend">-->
<!--        </form>-->

<!--        <form method="post" action="/block">-->
<!--            <input type="hidden" name="userEmail" value={userEmail}}>-->
<!--            <input type="hidden" name="userPassword" value={userPassword}}>-->
<!--            <input type="hidden" name="email" value={email}}>-->

<!--            <input type="submit" value="block">-->
<!--        </form>-->

<!--        <form method="get" action="/posts/{email}}">-->
<!--            <input type="hidden" name="userEmail" value={userEmail}}>-->
<!--            <input type="submit" value="posts">-->
<!--        </form>-->

<!--    {/users}}-->
<!--</div>-->
--------------------------------------------------------------------------------------------------------------------------
<div>
<!--    <h> List of tweets for the user {name}}</h>-->
    {{#tweets}}
        <p>{{tweet}}</p>
    {{/tweets}}
    <form action="/tweet" method="post">
        <label for="email">Email:</label><br>
        <input type="text" name="email"><br>

<!--        <label for="password">Password:</label><br>-->
<!--        <input type="password" name="password"><br>-->


        <label for="tweet">tweet:</label><br>
        <textarea name="tweet" >
        </textarea>
        <br>
        <input type="submit"/>
    </form>

        {{#users}}
            <h1>User</h1>
            <h3> name:  {{name}}</h3>
            <h3> email: {{email}} </h3>
            {{#allowed}}
                <form action="/follow" method="post">
                    <input hidden name="userEmail" value={{userEmail}}>
                    <input hidden name="password" value={{passwordUser}}>
                    <input hidden name="followerEmail" value={{email}}>
                    <input value="follow" type="submit"/>
                </form>
            {{/allowed}}
        {{/users}}
</div>